extends layout

block content
  h1= title
  //- p Welcome to #{title}

  p 
    a(class='button' href='/books/new') Create New Book

    //- search bar below
    form.search-form(method='post', action="/search")
      .search
        input.searchTerm(type='text' name='search' placeholder='Title, Author, Genre or Year?')
        button.searchButton(type='submit')
          i.fa.fa-search
          img.searchImg(src='/images/search-in-list.png')

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    for book in booksP 
      tbody
        tr
          td#title
            a(href=`/books/${book.id}`)= `${book.title}`
          td#auhtor= `${book.author}`
          td#genre= `${book.genre}`
          td#year= `${book.year}`

  if urlBooks
    .pagination
      -var x= numOfButtons
      -var i= 1
        while i <= x
          button(onclick=`javascript:window.location='http://localhost:3000/books?page=${i}'`).pagButton= i
             -i++
    //- p= `You are on button ${page}`
    p= `Showing Results ${startingOffset + 1} - ${numberOfInstances +startingOffset} Out Of ${totalBooks} Books`
  else
    p
      a.button(href='/books') Back to Catalog